
.App-header,
.App-header-Two {
  position: absolute;
  font-family: Neucha;
  font-style: normal;
  font-weight: normal;
  line-height: 159px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #F4F6F6  ;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.App-header {
  font-size: 85px;
  left: 31%;
  bottom: 46%;
}

.App-header-Two {
  left: 9%;
  top: 123px;
  font-family: 'Dancing Script', cursive;
  font-size: 128px;
}
 
@media (min-width: 768px) and (max-width: 1024px){
  
  .App-header {
    font-size: 92px;
    left: 19%;
    bottom: 34%;
}
.App-header-Two {

  left: 10%;
  top: 197px;

}




  
}

@media (min-width:1025px){
  .App-header-Two {
    left: 10%;
    top: 131px;
    font-size: 127px;
}
.App-header{
  left: 16%;
  bottom: 32%;
}

}