.input-login{
    position:relative;
    top:300px;
}


  .row .input-field input:focus {
    border-bottom: 1px solid royalblue !important;
    box-shadow: 0 1px 0 0 royalblue !important
  }
  .register-btn{
    background-color:#D2B4DE !important;
    border:1.5px #fff solid !important;
    box-shadow:none;
    font-weight: 800;
    top:15px;
  }

  .login-btn{
    box-shadow:none;
    font-weight: 800;
    top:15px;
  }

  .form-pass{
    background-color: #fff !important;
  }
.form-pass:focus{
  border-bottom: 1px solid #fdd835  !important;
    box-shadow: 0 1px 0 0 #fdd835  !important
}

