.input-login {
  position: relative;
  top: 417px;
}


  .register-btn{
    position:relative;
    top:21px;
    font-size:18px;
    cursor: pointer;
    text-decoration: underline !important;
  }

  .login-btn{
    box-shadow:none;
    text-transform: capitalize !important;
    font-family: 'Neucha', cursive;
    font-size:18px  !important;
    top:15px;
  }

  .form-pass{
    background-color: rgba(196, 196, 196, 0.67) !important;
    font-family: 'Neucha', cursive !important;
    font-size:18px  !important;
  }

  @media (min-width: 768px) and (max-width: 1024px)  {

  .input-login {
      position: relative;
      top: 352px!important;
  }

}






@media (min-width: 1025px) {
  
  
  .input-login {
    position: relative;
    top: 270px;
}




  
}