.input-login{
    position:relative;
    top:300px;
}


  .row .input-field input:focus {
    border-bottom: 1px solid 	#66d6dd !important;
    box-shadow: 0 1px 0 0 	#66d6dd !important
  }
  .register-btn{
    background-color:#D2B4DE !important;
    border:1.5px #fff solid !important;
    box-shadow:none;

    top:15px;
  }

  .login-btn{
    box-shadow:none;

    top:15px;
  }

  .form-pass{
    background-color: rgba(196, 196, 196, 0.67) !important;
  }
.form-pass:focus{
  border-bottom: 1px solid #0277bd  !important;
    box-shadow: 0 1px 0 0 #0277bd  !important
}

