.input-login{
    position:relative;
    top:300px;
}



  .register-btn{

    border:1.5px #fff solid !important;
    box-shadow:none;

    top:15px;
  }

  .login-btn{
    box-shadow:none;

    top:15px;
  }

  .form-pass{
    background-color: rgba(196, 196, 196, 0.67) !important;
  }

