.Footer-login{
    padding:0px;
    position: fixed;
    display:block;
    left: 0%;
    right: 0%;
    top: 84.62%;
    bottom: 3%;
    width: 100%;
    height: 60%;
    background: url(../assets/prueba3.jpg);
 
}