.waiter-img {
  outline: none;
  position: absolute;
  border: 0;
  width: 128px;
  height: 128px;
  right: 26%;
  top: 18%;




}

.hamburguer {
  outline: none;
  position: absolute;
  border: 0;
  outline: none;
  width: 51px;
  height: 51px;
  right: 19.8%;
  top: 28%;
 
}