.veggie-menu {
    position: relative;
    top: -6px;
    left: 10%;
}

.card-style {
    text-align: left;
    font-size: 18px;
    font-weight: 500;

}

h4 {
    font-size: 3rem;
    line-height: 60%;
    margin: 0.90rem 0 .912rem 0;
}

.title-submenu {
    font-family: 'Dancing Script', cursive;
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 30px;
}

.card-panel {
    border-radius: 5px;
    padding: 0px;
    background: rgba(202, 165, 163, 0.99) !important;
    margin-bottom:20px;
}

.text-menu {
    font-family: Neucha;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.5px;
}

.confirm-order-card {
    font-size: 28px;
}


.style-product {
    font-size: 30px !important;
}

.card-section {
    margin-bottom: -50px !important;

}

.btn-send {
    margin-top: 16px;
    position: relative;
    top: 40px;
    font-size: 28px;
    box-shadow: none;
    text-transform: capitalize !important;
    font-family: 'Neucha', cursive;

}

.nameOfClient{
color:white;
font-size:24px !important;
font-family: 'Neucha', cursive !important;

}
.modal-trigger {
    top: 50px;
}

.order-menu {
    min-height: 95vh;
}

.card-color {
    background-color: #D2B4DE;

}
.productStyle{
 padding:9px 

}
.printTime {
    font-size: 19px;
}

.text-on-ticket {
    font-size: 30px;
}

.confirm-information {
    position: relative;
    top: 50px !important;
}

.buttons-cancel-confirm {
    position: relative;
    top: 300px !important;
}

.btn-kitchen {
    position: relative;
    top: 15px !important;
}

.btn-cancel,
.btn-kitchen {
    font-size: 22px;
    text-transform: capitalize !important;
    font-family: 'Neucha', cursive;
    box-shadow: none;
}

@media only screen and (min-width: 601px){
    .veggie-menu {
        position: relative;
        top: 47px;
        left: 10%;
    }


}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


    .veggie-menu {
        position: relative;
        top: 55px;
        left: 10%;
    }

    .btn-kitchen {
        top: 0px !important;
    }

}



@media(min-width:1025px) {


    .buttons-cancel-confirm {
        position: relative;
        top: 170px !important;
    }
    .veggie-menu {
        top: 53px;

    }
}