.card-style {
    /* text-align: 
   
    background: rgba(lighten(blue, 1), 0.2) */
    text-align: left;
    font-size: 18px;
    font-weight: 500;



}

.title-submenu {
    font-family: 'Dancing Script', cursive;
    line-height: 35px;
    letter-spacing: 1px;
}

.card-panel {
    border-radius: 5px;
    padding: 0px;
    background: rgba(202, 165, 163, 0.99) !important;

}

.text-menu {
    font-family: Neucha;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    text-align: center;

    letter-spacing: 1px;


}

.veggie-menu{
    position:relative;
    top:55px;
    left:10%;
}

.style-product{
    font-size:25px !important;
}

.card-section{
    margin-bottom: -38px !important;
    }