.card-promotions{
    border-radius: 10px !important;
    padding: 1px  !important;
    border: 1px solid #FFFFFF !important;

}
.btn-floating{
left:15px !important;

}


.btn-floating i {

color:black !important;
}

.card-text-promotions{

font-size:18px;
}

.promotions-section{

margin-top:40px;

}