
.wrapper{
  background-color: #151515;
  height: 100%;
  display: grid;
 grid-gap: 3px;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: 200px 300px 200px;
}

.header{
  
  grid-column: 1/-1;
}

.content{
  grid-column: 1/-1;
}


.footer{
  background-color: #151515;
  grid-column: 1/ -1;
}

.nav-wrapper{
  background-color: red;
 display: grid;
 grid-gap: 3px;
 
}

.wrapper-menu{
  height: 100%;
  display: grid;
 grid-gap: 3px;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: 100px 50px 100px; 
}

.header-inside{
  grid-column: 1/-1;
  background-color: green; 
}

.menu-inside{
  background-color: aqua;
  grid-column: 1/-1;
}


.item-one{
  grid-column: 1/2;
  background-color: yellow; 
}


.item-two{
  background-color: purple;
  grid-column: 2/3;
}

.item-three{
  background-color: chartreuse;
  grid-column: 3/4;
}

.takeout-options{
  background-color: violet;
  grid-column: 1/4;
}

.order{
  background-color: rosybrown;
  grid-column: 1/4;
}

.payment-methods{
  background-color: blue;
  grid-column: 1/4;
}
